# macOS-specific
.DS_Store

# IDE-specific
.vscode
.idea/

# Composer dependencies
vendor/
!vendor/autoload.php
!vendor/composer

# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs and temp files
*.log
tmp/
